[submodule "Common/azure-sdk-for-python"]
	path = Common/azure-sdk-for-python
	url = https://github.com/Azure/azure-sdk-for-python.git
[submodule "Common/psutil"]
	path = Common/psutil
	url = https://github.com/giampaolo/psutil.git
[submodule "VMEncryption/transitions"]
	path = VMEncryption/transitions
	url = https://github.com/tyarkoni/transitions.git
[submodule "OmsAgent/ext/python-future"]
	path = OmsAgent/ext/python-future
	url = https://github.com/PythonCharmers/python-future
[submodule "AzureMonitorAgent/ext/python-future"]
	path = AzureMonitorAgent/ext/python-future
	url = https://github.com/PythonCharmers/python-future
