[submodule "Common/psutil"]
	path = Common/psutil
	url = https://github.com/giampaolo/psutil.git
[submodule "VMEncryption/transitions"]
	path = VMEncryption/transitions
	url = https://github.com/tyarkoni/transitions.git
[submodule "VMEncryption/six"]
	path = VMEncryption/six
	url = https://github.com/benjaminp/six
