[Unit]
Description=Metrics Extension service for Linux Agent metrics sourcing
After=network.target

[Service]
Environment="OTLP_GRPC_HOST=127.0.0.1"
Environment="OTLP_GRPC_PORT=4317"
Environment="OTLP_GRPC_PROM_HOST=127.0.0.1"
Environment="OTLP_GRPC_PROM_PORT=4316"
EnvironmentFile=-/etc/metrics-extension.d/options.conf
ExecStart=%ME_BIN% -TokenSource AMCS -ManagedIdentity %ME_MANAGED_IDENTITY% -DataDirectory %ME_DATA_DIRECTORY% -Input influxdb_local,otlp_grpc,otlp_grpc_prom -InfluxDbSocketPath /var/run/azuremonitoragent/mdm_influxdb.socket -LogLevel Info -Logger Console -OperationEnvironment AMA-Linux/AMA_VERSION -ConfigOverrides "{\"otlp\":{\"endpoints\":[\"${OTLP_GRPC_PROM_HOST}:${OTLP_GRPC_PROM_PORT}\"]}}"
ExecReload=/bin/kill -HUP $MAINPID
KillMode=control-group
User=azuremetricsext
Group=azuremonitoragent
RuntimeDirectory=azureotelcollector azuremetricsext
RuntimeDirectoryMode=0755

[Install]
WantedBy=multi-user.target
