[Unit]
Description=Azure Linux Diagnostic Extension

After=network-online.target walinuxagent.service
Wants=network-online.target walinuxagent.service

ConditionFileIsExecutable={WORKDIR}/diagnostic.py

[Service]
Type=simple
WorkingDirectory={WORKDIR}/
ExecStart=/usr/bin/python2 {WORKDIR}/diagnostic.py -daemon
Restart=on-failure
TimeoutSec=60
RestartSec=30
StartLimitBurst=10
StartLimitInterval=3600

[Install]
WantedBy=multi-user.target
