include HandlerManifest.json manifest.xml extension_shim.sh
recursive-include main/oscrypto/91ade *.sh
recursive-include main/oscrypto/91ade *.rules
recursive-include main/oscrypto/rhel_68/encryptpatches *.patch
recursive-include main/oscrypto/centos_68/encryptpatches *.patch
recursive-include main/oscrypto/ubuntu_1604/encryptpatches *.patch
recursive-include main/oscrypto/ubuntu_1604/encryptscripts *.sh
recursive-include main/oscrypto/ubuntu_1404/encryptpatches *.patch
recursive-include main/oscrypto/ubuntu_1404/encryptscripts *.sh
recursive-include main/Utils waagent
prune main/test
