include HandlerManifest.json handler.py
recursive-include main/oscrypto/rhel_72_lvm/encryptpatches *.patch
recursive-include main/oscrypto/rhel_72/encryptpatches *.patch
recursive-include main/oscrypto/rhel_68/encryptpatches *.patch
recursive-include main/oscrypto/centos_68/encryptpatches *.patch
recursive-include main/oscrypto/ubuntu_1604/encryptpatches *.patch
recursive-include main/oscrypto/ubuntu_1604/encryptscripts *.sh
recursive-include main/oscrypto/ubuntu_1404/encryptpatches *.patch
recursive-include main/oscrypto/ubuntu_1404/encryptscripts *.sh
prune test
